.mySwiper3 {
  width: 100%;
  height: 100%;
  padding: 30px 40px;
  gap: 30px;
}

 .mySwiper3 .swiper-slide {
  font-size: 18px;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  box-shadow: 5px 5px 5px gray;
  margin: auto;

}

.mySwiper3 .swiper-slide img {
 max-width: 400px;
  max-height: 250px;
  object-fit: cover;
  margin-left: 50px;
}
